/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* Resetimi */
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --scrollbarBG: #ddd;
    --thumbBG: #9c9c9c;
    --primary: #23384e;
}
html {
    scroll-behavior: smooth;
}

 *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  *::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 4px;
    border: 1px solid var(--scrollbarBG);
  }

  @media(max-width: 767px) {
    *::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }
  }

/* Gjenerale */
body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.45;
    position: relative;
    overflow-x: none;
}
#grid {
    background-color: #fff;
    margin: auto;
}

/* Navigimi */
#navigimi {
    grid-area: navigimi;
    display: grid;
    grid-template-columns: 240px 1fr 1fr 240px;
    grid-template-areas:
    "header header nav nav";
    background-color: #23384e;
    height: 50px;
    position: sticky;
    position: -webkit-sticky;
    z-index:2;
    top: 0;
}
header {
    padding-left: 20px;
    grid-area: header;
}
header .logo a {
    color: #fff;
    line-height: 50px;
    letter-spacing: 0.5px;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}
nav {
    grid-area: nav;
    text-align: right;
    padding-right: 52px;
}
nav a {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 50px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}
nav a:hover, nav a.aktiv {
    text-decoration: underline;
}


/* Wrapper */
#wrapper {
    display: grid;
    grid-template-columns: 240px 1fr 1fr 240px;
    grid-template-areas:
    "article main main aside";
}
article {
    grid-area: article;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}

/* Aside */
aside, article {
    background-color: #f4f4f4;
    padding: 45px 20px 20px;
    position: -webkit-sticky;
    position: sticky;
    overflow-x: auto;
    height: calc(100vh - 70px);
    top: 50px;
    bottom: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
aside h3, article h3 {
    border-bottom: 2px solid rgb(241,89,41);
    margin-bottom: 20px;
}
aside ul, article ul {
    list-style-type: none;
}
aside li a, article li a {
    text-decoration: none;
    margin-bottom: 3px;
    display: block;
    color: #333;
}
aside li a:hover, article li a:hover {
    text-decoration: underline;
}

/* Main - Permbajtja */
section {
    padding: 65px 40px 30px;
    margin-top:-30px;
}
section h1 {
    padding-top: 20px;
    padding-bottom: 7px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.75em;
    border-bottom: 2px solid rgb(241,89,41);
    margin-bottom: 23px;
}

section h2, section h3 {
    padding-top: 25px;
    padding-bottom: 10px;
}
section h1, section h2, section h3 {
    line-height: 1.1;
}
section > p, section > ul, section > ol {
    padding-top: 7px;
    padding-bottom: 7px;
}
section ul, section ol {
    padding-left: 30px
}
section li {
    padding-top: 3px;
    padding-bottom: 3px;
}
section img {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
section .figure img {
    max-width: 800px;
    width: 100%;
}
.elementet-html img {
    box-shadow:none;
}
section table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
section table, section th, section td {
    border-collapse: collapse;
    border: 1px solid #999
}
section table tr:first-child {
    text-align: center;
    background-color: #ddd;
}
section table th, section table td {
    padding: 5px 7px 3px;
}

/* Shembujt */
.shembull {
    margin-top: 10px;
    margin-bottom:15px;
    padding: 20px;
    border: 1px dotted #ccc;
}
.shembull > p {
    font-weight: 700;
}
.kodi {
    padding: 15px 0 0 0;
}
code {
    font-size: 15.5px;
    max-height: 400px;
}
.kodi code {
	padding: 10px 12px;
}
iframe {
    display: block;
    margin: 10px 0;
    width: 100%;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

/* Sintaksa */
.sintaksa code {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px dotted #888;
}

/* Shenime */
.shenim {
    border: 1px solid #144261;
    color: #144261;
    background-color: #d5e9f6;
    margin: 20px 40px;
    padding: 15px;
    font-size: 95%;
}

/* Keshille */
.keshille {
    border: 1px solid #2e5014;
    color: #2e5014;
    background-color: #d5efc2;
    margin: 20px 40px;
    padding: 15px;
    font-size: 95%;
}
.paralajmerim {
    border: 1px solid #913944;
    color: #913944;
    background-color: #ecd2d7;
    margin: 20px 40px;
    padding: 15px;
    font-size: 95%;
}

/* Editi i ngjyrave te kodit*/
.hljs, .hljs-subst {
    color: #333;
    font-size: 15px;
    background-color: #f2f2f2;
}
.hljs-name {
    color: #905;
}
.hljs-attr {
    color: #690;
}
.hljs-string, .hljs-keyword {
    color: #07a;
}
.hljs-meta {
    color: #888;
}
.hljs-selector-tag {
    color: #690;
}
.hljs-attribute {
    font-weight:normal;
    color: #905;
}

@media(min-width: 1367px) {
    main {
        max-width: 870px;
        margin: 0 auto;
    }
}

@media(max-width: 1299px) {
    img[alt='YouTube'] {
        width: 100%;
    }
}

@media(max-width: 767px) {
    section .img-kodi img {
        width: 100%;
    }
    iframe {
        width: 100% !important;
    }
    section {
        padding: 10px;
        font-size: 0.95em;
    }
    section:not(:first-child) {
        padding-top: 90px;
        padding-bottom:30px;
        margin-top:-70px;
        
    }
    section:first-child h1 {
        padding-top:80px;
    }
    section ul, section ol {
        padding-left: 20px
    }
    section h1 {
        font-size: 1.45em;
    }
    section h2 {
        font-size: 1.25em;
    }
    section h3 {
        font-size: 1.1em;
    }
    .shenim, .keshille, .paralajmerim {
        margin: 20px 0
    }
    .shembull {
        padding: 10px;
    }
    .kodi {
        padding-top: 10px;
    }
    .hljs, .hljs-subst {
        font-size: 14px;
    }
    code {
        font-size: 14px;
    }
}

/* Footer */
footer {
    height: 20px;
    text-align: center;
    background-color: #23384e;
    color: #fff;
    font-size: 0.65em;
    line-height: 20px;
    position: sticky;
    position: -webkit-sticky;
    bottom:0;
    z-index: 999;
}
footer a {
    color: #fff;
}

@media(max-width: 1199px) {
    #navigimi {
        grid-template-columns: 1fr 1fr 240px;
        grid-template-areas:
        "header nav nav";
    }
    #wrapper {
        grid-template-columns: 1fr 1fr 240px;
        grid-template-areas:
        "main main aside"
        "article article article";
    }
    header .logo a {
        font-size: 1.28em;
        letter-spacing: 0.25px;
    }
    article {
        position: static;
        margin-right: 239px;
    }
}

@media(max-width: 767px) {
    header {
        background-color: #23384e;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    }
    nav {
        position: fixed;
        z-index: 2;
        top: 50px;
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    #navigimi {
        grid-template-columns: 1fr 240px;
        grid-template-areas:
        "header header"
        "nav nav";
    }
    #wrapper {
        grid-template-columns: 1fr 240px;
        grid-template-areas:
        "main aside"
        "article";
    }
    aside {
        position: fixed;
        top: 50px;
        height: calc(100vh - 100px);
        z-index: 2;
        width: 240px;
        right: -240px;
        transition: right 0.4s;
    }
    article {
        margin-right:0;
    }

    .main {
        position: relative;
    }
    .main:after, .article:after, .footer:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: .6;
        transition: all 0.4s;
    }
    
    .menu:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: .5;
        transition: opacity 0.4s;
    }
    #burger {
        width:30px;
        cursor: pointer;
    }
    #burger .viza {
        display: block;
        height: 2px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #fff;
        transition: all 0.4s;
    }
    #burger .viza:nth-child(2){
        width: 70%;
    }
    .burger > .viza:first-child {
        -ms-transform: rotate(40deg) translate(5px, 5px);
        -webkit-transform: rotate(40deg) translate(5px, 5px);
        transform: rotate(40deg) translate(5px, 5px);
    }
    .burger > .viza:nth-child(2){
        opacity: 0;
    }
    .burger > .viza:last-child {
        -ms-transform: rotate(-40deg) translate(5px, -5px);
        -webkit-transform: rotate(-40deg) translate(5px, -5px);
        transform: rotate(-40deg) translate(5px, -5px);
    }

}

/* Ikona Terr/Dritë */
#nata {
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    right: 22px;
    top: 13px;
}
#nata img {
    transform: scale(0.65);
}

/* Permbajtja e fiksuar e fshehur */
.btn-bottom {
    display: none;
}

@media (max-width: 767px) {
    /* Permbajtja e fiksuar posht */
    .btn-bottom {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #23384e !important;
        border-top: 1px solid #33485e;
        left: 0;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #btn-bottom {
        color: #f5f5f5;
        font-size: 0.95em;
        width: 95%;
        border: 1px solid;
        padding: 5px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-align: center;
        cursor: pointer;
    }
    footer {
        position: static;
        margin-bottom:50px;
        z-index: 8;
    }
    #nata {
        position: fixed;
        right: 65px;
    }
    nav {
        transform: translate3d(0, -100%, 0);
        transition: transform 0.5s;
    }
    .shih-nav nav {
        transform: none;
        transition: transform 0.5s;
    }
}

@media(max-width: 359px) {
    header .logo a {
        font-size: 1.15em;
    }
}

/* Loading */
#loader {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nata #loader {
    background-color: #000;
}
.nata #loader > img {
    filter: invert(100%);
}

#loader > img {
    width: 150px;
}

#loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

