
#navigimi {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: none;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    height: calc(100vh - 130px);
    margin: 30px 100px;
}

.lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 10px 100px 10px 30px;
    color: #282828;
}
.lang h1 {
    font-size: 2.4em;
    font-weight: 900;
}
.lang h3 {
    line-height: 1.15;
}

.lang a {
    padding: 7px;
    width: 140px;
    text-align: center;
    margin-top: 15px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    opacity: 0.75;
    border: 1px solid;
}
.lang a:hover {
    opacity: 1;
}

#html {
    background-image: url("../foto/html.png"), linear-gradient(to right, rgba(230,81,39, 0.75), rgba(255,255,255, 0));
    border: 2px solid rgb(230, 81, 39);
    text-shadow: -1px 0 rgb(230, 81, 39), 0 1px rgb(230, 81, 39), 1px 0 rgb(230, 81, 39), 0 -1px rgb(230, 81, 39);
}
#html a {
    background-color: rgb(230, 81, 39);
}
#css {
    background-image: url("../foto/css.png"), linear-gradient(to right, rgba(12,115,184, 0.75), rgba(255,255,255, 0));
    border: 2px solid rgb(12, 115, 184);
    text-shadow: -1px 0 rgb(12,115,184), 0 1px rgb(12,115,184), 1px 0 rgb(12,115,184), 0 -1px rgb(12,115,184);
}
#css a {
    background-color: rgb(12,115,184);
}
#js {
    background-image: url("../foto/js.png"), linear-gradient(to right, rgba(99,168,20, 0.75), rgba(255,255,255, 0));
    border: 2px solid rgb(99, 168, 20);
    text-shadow: -1px 0 rgb(99,168,20), 0 1px rgb(99,168,20), 1px 0 rgb(99,168,20), 0 -1px rgb(99,168,20);
}
#js a {
    background-color: rgb(99,168,20);
}
#sql {
    background-image: url("../foto/sql.png"), linear-gradient(to right, rgba(155,71,140, 0.75), rgba(255,255,255, 0));
    border: 2px solid rgb(155, 71, 140);
    text-shadow: -1px 0 rgb(155,71,140), 0 1px rgb(155,71,140), 1px 0 rgb(155,71,140), 0 -1px rgb(155,71,140);
}
#sql a {
    background-color: rgb(155,71,140);
}

.btn-bottom {
    display: none;
}

@media(max-width: 1023px) {
    #wrapper {
        margin: 30px;
    }
}

@media(max-width: 767px) {
    .btn-bottom {
        display: none;
    }
    nav {
        border-top: 1px solid #304458;
        padding-right: 0;
        background-color: #23384e;
    }
    #navigimi {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "nav";
    }
    #wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
        height: auto;
        margin: 15px 15px 35px 15px;

    }
    .lang {
        height: 210px;
        padding-left: 20px;
    }
    .lang h1 {
        font-size: 2.1em;
    }

    footer {
        position: fixed;
        margin-bottom: 0 !important;
        bottom: 0;
        right: 0;
        left: 0;
    }
}