section h1, aside h3, article h3, .nata section h1, .nata aside h3, .nata article h3  {
    border-bottom: 2px solid rgb(155,71,140);
}
.kodi pre {
	border-left: 4px solid rgb(155,71,140);
}

@media(max-width: 767px) {
    nav {
        background-color: rgb(155,71,140);
    }
}

::-moz-selection { 
    color: white;
    background: rgb(155,71,140);
}
::selection {
    color: white;
    background: rgb(155,71,140);
}

/* Tabelat SQL - rezultatet */
.tabela-sql {
    width: 100%;
    overflow-x: auto;
    margin-bottom: -10px;
}
.tabela-sql pre {
    font-size: 1.05rem;
}