section h1, aside h3, article h3, .nata section h1, .nata aside h3, .nata article h3  {
    border-bottom: 2px solid rgb(12,115,184);
}
.kodi pre {
	border-left: 4px solid rgb(12,115,184);
}

@media(max-width: 767px) {
    nav {
        background-color: rgb(12,115,184);
    }
}

::-moz-selection { 
    color: white;
    background: rgb(12,115,184);
}
::selection {
    color: white;
    background: rgb(12,115,184);
}


/* Color Picker */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
.nata input[type=range] {
    background-color: #222;
}
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: #999999;
    border-radius: 16px;
    border: 1px solid #8A8A8A;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #999999;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: #999999;
    border-radius: 16px;
    border: 1px solid #8A8A8A;
  }
  input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #999999;
    border: 1px solid #8A8A8A;
    border-radius: 32px;
  }
  input[type=range]::-ms-fill-upper {
    background: #999999;
    border: 1px solid #8A8A8A;
    border-radius: 32px;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #999999;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #999999;
  }
  
  /* Red range */
  #red::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #880000;
    border: 1px solid #AA0000;
    background: #FF0000;
  }
  #red::-moz-range-thumb {
    box-shadow: 1px 1px 1px #880000;
    border: 1px solid #AA0000;
    background: #FF0000;
  }
  #red::-ms-thumb {
    box-shadow: 1px 1px 1px #880000;
    border: 1px solid #AA0000;
    background: #FF0000;
  }
  
  /* Green range */
  #green::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #008800;
    border: 1px solid #00AA00;
    background: #00FF00;
  }
  #green::-moz-range-thumb {
    box-shadow: 1px 1px 1px #008800;
    border: 1px solid #00AA00;
    background: #00FF00;
  }
  #green::-ms-thumb {
    box-shadow: 1px 1px 1px #008800;
    border: 1px solid #00AA00;
    background: #00FF00;
  }
  
  /* Blue range */
  #blue::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000088;
    border: 1px solid #0000AA;
    background: #0000FF;
  }
  #blue::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000088;
    border: 1px solid #0000AA;
    background: #0000FF;
  }
  #blue::-ms-thumb {
    box-shadow: 1px 1px 1px #000088;
    border: 1px solid #0000AA;
    background: #0000FF;
  }

  
#color-picker {
    margin-top: 1.8em;
    padding-top: 4em;
    font-family: monospace;
    font-size: 1.2em;
}
#color-picker > h3 {
  font-size: 1.7em;
}
#display {
    width: 500px;
    margin: 0 auto;
    background: rgb(12, 115, 184);
    transition: all 100ms;
    border: 1px solid #999;
    margin-bottom: 2em;
}
#text {
    text-align: center;
    padding: 1.5em 0;
}
#dec, #hex {
    color: white;
    display: block;
    padding: 5px 0;
}
#inputet {
    display: flex;
}
.ngjyra {
    width: 33%;
    padding: 2em 1em;
    text-align: center;
}

/* background position image */
.desktop-image {
  display: block;
}
.mobile-image {
  display: none;
}

@media(max-width: 767px) {
  #color-picker > h3 {
    font-size: 1.4em;
  }
  #color-picker > h3 > span {
    display: block;
  }

  #display {
    width: 95%;
  }
  #inputet {
    flex-direction: column;
  }
  .ngjyra {
    width: 100%;
    padding: 0.6em;
  }

  section .ilustrim img {
    width: auto !important;
}

  /* background position image */
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
  }
}

/* Figura textAlign */
.textalign {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
.textalign div span {
  display: block;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}
.textalign > div > p {
  background-color: #ccc;
  padding: 0.75em;
  font-size: 0.75em;
}

.nata .textalign > div > p {
  background-color: #333;
}

@media(max-width: 767px) {
  .textalign {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.6em;
  }
}

/* Figura listat */
.listat-figura {
  display: flex;
  margin-top: 15px;
  font-size: 0.9rem;
}
.listat-figura div {
  margin-bottom: 20px;
}

.listat-figura div li {
  background-color: #ddd;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.nata .listat-figura div li {
  background-color: #383838;
}

.listat-figura div.inside li {
  list-style-position: inside;
}

.listat-figura div p {
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
}

@media(max-width: 499px) {
  .listat-figura {
    display: block;
  }
}

/* Figura tabelat */
.tabelat-figura {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 15px;
  font-size: 0.9rem;
}
.tabelat-figura div {
  margin-bottom: 25px;
}
.tabelat-figura table {
  margin-bottom: 10px;
}
.tabelat-figura table, .tabelat-figura th, .tabelat-figura td {
  border: 1px solid black;
  font-family: 'Times New Roman', Times, serif;
}

.tabelat-figura table tr:first-child, .nata .tabelat-figura table tr:first-child {
  background-color: transparent;
  text-align: left;
}
.tabelat-figura .non-collapse table {
  border-collapse: separate;
}
.tabelat-figura p {
  text-align: center;
  vertical-align: bottom;
}

@media(max-width: 499px) {
  .tabelat-figura {
    display: block;
  }
}

/* Figura 2 - tabelat */
.tabelat-figura2 {
  margin: 10px 15px 30px;
  font-size: 0.95rem;
  overflow-x: auto;
}
.tabelat-figura2 table tr:first-child {
  background-color: transparent;
  text-align: left;
}
.tabelat-figura2 table, .tabelat-figura2 th, .tabelat-figura2 td,
.nata .tabelat-figura2 table, .nata .tabelat-figura2 th, .nata .tabelat-figura2 td {
  border: none;
}
.tabelat-figura2 th, .tabelat-figura2 td {
  text-align: left;
  border-top: 1px solid #dee2e6;
}
.tabelat-figura2 tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.nata .tabelat-figura2 thead tr:first-child, .nata .tabelat-figura2 tbody tr:first-child {
  background-color: transparent;
}

.nata .tabelat-figura2 th, .nata .tabelat-figura2 td {
  border-top:1px solid #444;
}
.nata .tabelat-figura2 tbody tr:nth-child(odd) {
  background-color: #333;
}