section h1, aside h3, article h3, .nata section h1, .nata aside h3, .nata article h3  {
    border-bottom: 2px solid rgb(99,168,20);
}
.kodi pre {
	border-left: 4px solid rgb(99,168,20);
}

@media(max-width: 767px) {
    nav {
        background-color: rgb(99,168,20);
    }
}

#operatoret .tabela {
    width: 100%;
    overflow-x: auto;
}

#operatoret table {
    min-width: 592px;
}